<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />



    <link rel="icon" href="{% static 'images/favicon.webp' %}" type="image/webp">
    <title>Atbara</title>
    


    <style>

      .videos {
        display: flex;
        margin-left: 20px;
        margin-top: 20px;
      }

      .video_item {
        
        display: flex;
        flex-direction: column;
      }

      .channel_image {
        border-radius: 100%;
      }
      
    </style>

  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>


    <nav class="navbar">
      <div class="first">
        <div class="hamburger">
          <svg
            viewBox="0 0 24 24"
            preserveAspectRatio="xMidYMid meet"
            focusable="false"
            class="style-scope yt-icon"
            style="pointer-events: none; display: block; width: 100%; height: 100%"
          >
            <g class="style-scope yt-icon">
              <path
                d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"
                class="style-scope yt-icon"
              ></path>
            </g>
          </svg>
        </div>
        <div class="logo" style="display: inline-flex;" >
          <img src="{% static 'images/favicon.webp' %}"  style="width: 60px; height: 60px;" alt="">
          <h1 style="padding-top: 5px; color:rgb(0, 0, 80) ; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Atbara</h1>
        </div>
      </div>
      <div class="second">
        <input type="text" placeholder="Search" class="search" style="width: 600px; height: 40px;"/>
        <button class="btn btn-secondary" style="width: 80px; height: 40px; background-color: white;">
          <img src="{% static 'images/search.png' %}" alt="" style="width: 35px; height: 50px; border: 1em; padding-bottom: 25px;">
        </button>
      </div>
      <div class="third">
          {% if success%}
          <a href="{% url 'uploadvideo' %}">
        <svg
          viewBox="0 0 24 24"
          preserveAspectRatio="xMidYMid meet"
          focusable="false"
          class="style-scope yt-icon"
          style="pointer-events: none; display: block; width: 100%; height: 100%"
        >
          <g class="style-scope yt-icon">
            <path
              d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4zM14 13h-3v3H9v-3H6v-2h3V8h2v3h3v2z"
              class="style-scope yt-icon"
            ></path>
          </g>
        </svg> 
        </a>
    {%endif%}
        <svg
          viewBox="0 0 24 24"
          preserveAspectRatio="xMidYMid meet"
          focusable="false"
          class="style-scope yt-icon"
          style="pointer-events: none; display: block; width: 100%; height: 100%"
        >
          <g class="style-scope yt-icon">
            <path
              d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
              class="style-scope yt-icon"
            ></path>
          </g>
        </svg>
        <img style="width: 35px; height: 35px;"
          src="{% static 'images/img.jpg' %}"
          alt=""
          class="channel"
          id="drop"
        />
        <ul class="dropdown">
          <a href="{% url 'youtuber' %}">
          <li>
          
            
              Became A Youtuber
            
          </li>
          </a> 
        </ul>
      </div>
    </nav>



    <br>
    <br>














      
    <h1 class="text-center" style="color: rgb(44, 44, 100);">{{youtuber.channel_name}}</h1>

 
    <div class="videos">

      {% for i in videos %}
      
        <div class="video_item">
          <a href="{% url 'video' i.id %}" style="text-decoration: none;">
            <img src="{{i.video_thumbnail.url}}" class="mx-2" alt="" srcset="" width="300" height="180" style="border-radius: 5px;">

            <p class="text-center" style="color: rgb(44, 44, 100); font-weight: 700;">{{i.video_title}}</p>
            
          </a>
        </div>
  
      
      {% endfor %}
      
    </div>














      
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>